{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <div class="container ">


        <div class="row">
            <div class="col s12 m6">
                <div class="card grey lighten-5">
                    <div class="card-content white-text">
                        <span class="card-title blue-text text-darken-2">Projects list</span>
                        <p class="blue-text text-darken-2">you dont have any project yet</p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect  blue lighten-2 btn-large">Create Project +</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

{% endblock %}
